<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auth.mapper.RoleMapper">
	<resultMap type="com.auth.entity.Role" id="RoleResult">
		<id property="roleId" column="role_id"></id>
		<result property="roleName" column="role_name"></result>
		<result property="roleDesc" column="role_desc"></result>
		<result property="roleCode" column="role_code"></result>
		<result property="roleState" column="role_state"></result>
		<result property="createBy" column="create_by"></result>
		<result property="createTime" column="create_time"></result>
		<result property="updateBy" column="update_by"></result>
		<result property="updateTime" column="update_time"></result>
		<result property="getCode" column="getCode"/>
	</resultMap>
	<!-- 查询所有角色 -->
	<select id="selectRoles" parameterType="java.util.HashMap"
		resultMap="RoleResult">
		SELECT role_id,role_name,role_desc,role_code,role_state,
			GET_USER_CODE(create_by) as getCode,create_time,update_by,update_time
		 FROM role
		<where>
			<if test="role.roleCode!=null and role.roleCode!=''">
				AND role_code LIKE CONCAT('%', #{role.roleCode},'%')
			</if>
			<if test="role.roleState!=null and role.roleState!=''">
				AND role_state = #{role.roleState}
			</if>
		</where>
		LIMIT #{page.pageIndex},#{page.pageNum}
	</select>
	<!-- 查询总条数 -->
	<select id="roleCount" parameterType="java.util.HashMap"
		resultType="int">
		SELECT COUNT(0) FROM role
		<where>
			<if test="role.roleCode!=null and role.roleCode!=''">
				AND role_code = #{role.roleCode}
			</if>
			<if test="role.roleState!=null and role.roleState!=''">
				AND role_state = #{role.roleState}
			</if>
		</where>
	</select>
	<!-- 根据角色Code查询 -->
	<select id="findByCode" parameterType="string" resultType="int">
		SELECT COUNT(0) FROM role WHERE role_code = #{roleCode}
	</select>
	<!-- 添加角色 -->
	<insert id="insertRole" parameterType="com.auth.entity.Role">
		INSERT INTO role
		(role_name,role_code,role_desc,role_state,create_by,create_time)
		VALUES (#{roleName},#{roleCode},#{roleDesc},0,#{createBy},NOW())
	</insert>
	<!-- 修改角色状态 -->
	<update id="updateState" parameterType="com.auth.entity.Role">
		UPDATE role SET role_state=#{roleState} where role_id=#{roleId}
	</update>
	<!-- 修改角色信息 -->
	<update id="updateRole" parameterType="com.auth.entity.Role">
		UPDATE role SET
		role_name=#{roleName},role_desc=#{roleDesc},update_by=#{updateBy},update_time=NOW()
		WHERE role_id = #{roleId}
	</update>
	<!-- 查询未禁用的角色 -->
	<select id="queryRole" resultMap="RoleResult">
		SELECT * FROM role WHERE role_state = 1
	</select>
	<!-- 查询用户已有的角色 -->
	<select id="userRole" parameterType="int" resultType="string">
		SELECT GROUP_CONCAT(role_id) FROM user_role WHERE user_id=#{userId}
	</select>
	<!-- 根据角色id查询角色权限 -->
	<select id="roleAuth" parameterType="int" resultType="string">
		SELECT GROUP_CONCAT(auth_id) FROM role_auth WHERE role_id=#{roleId}
	</select>
	<!-- 删除已有权限 -->
	<delete id="deletePermission" parameterType="int">
		DELETE FROM role_auth WHERE role_id=#{roleId}
	</delete>
	<!-- 授予权限 -->
	<insert id="grantPermission" parameterType="java.util.HashMap">
		INSERT INTO role_auth (role_id,auth_id) values (#{roleId},#{authId})
	</insert>
</mapper>